
:root{
  --speed: 300ms;
  --border-radius: 8px;
}

.dropdown-menu{
  position: absolute;
  top: 70px;
  right: 20px;
  background: rgb(73, 158, 94);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 200px;
  
}

.menu-trigger{
  
  overflow: hidden;
  cursor: pointer;

}

.menu-trigger:hover{
  color: rgb(223, 219, 15);

}

.dropdown-menu::before{
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg)
}

.dropdown-menu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive{
  opacity: 0;
  visibility: visible;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

h3{
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-text-color);
  line-height: 1.2rm;
}

h3 span{
  font-size: 14px;
  color: var(--secondary-text-color);
  font-weight: 400;
}

.dropdown-menu ul li{
  padding: 10px 0;
  border-top: apx solit rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul li a{
  color: rgb(0, 0, 0);
}

.dropdown-menu ul li:hover a{
  color: rgb(223, 219, 15);
  cursor: pointer;
}

.dropdownItem{
  display: flex;
  margin: 10px auto;
}

.dropdownItem a{
  max-width: 100px;
  margin-left: 10px;
  transition: var(--speed);
}
