.center-container {
  display: flex;
  flex-direction: column; /* Display items in a column layout */
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center; /* Center text horizontally */
}
