/* Header styles */
.Header {
  background-color: #2C3E50; /* Example background color */
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.HeaderContent {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.HeaderLogo h1 {
  color: #FFF; /* Change as needed */
}

/* Navigation styles */
.HeaderLinks {
  display: flex;
  align-items: center;
}

.nav-item {
  color: #FFF;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.nav-text-link {
  display: flex;
  align-items: center;
  color: inherit; /* Inherits color from .nav-item */
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-text-link:hover,
.nav-text-link:focus {
  color: #18BC9C; /* Highlight color on hover/focus */
}

.nav-item-with-submenu:hover .nav-sub-menu {
  display: block; /* Show sub-menu on hover */
}

.nav-item-with-submenu .nav-sub-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #34495E; /* Sub-menu background color */
  box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Adds shadow for depth */
  border-radius: 4px; /* Slight rounding on edges */
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  transform: translateY(-10px); /* Starts slightly above for slide down effect */
  z-index: 999;
}

.nav-item-with-submenu:hover .nav-sub-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.nav-sub-item {
  color: #FFF;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-sub-item:hover,
.nav-sub-item:focus {
  background-color: #2C3E50; /* Darken background on hover/focus */
}


.nav-item-with-submenu {
  position: relative;
}

.nav-sub-menu {
  display: none;
  position: absolute;
  left: 0; /* Adjust if needed */
  top: 100%; /* Adjust if needed */
  z-index: 10;
}

.nav-item-with-submenu:hover .nav-sub-menu {
  display: block;
}
