.module-details-container {
  position: relative;
  padding: 20px;
}

.module-details-card {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
}

.module-image-container {
  width: 100%;
  overflow: hidden; /* In case your images are not of the same size */
}

.module-image {
  width: 100%;
  height: auto;
  display: block;
}

.module-top-content {
  padding: 20px;
}

.module-title {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.module-description {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.module-format {
  margin-bottom: 1em;
}

.module-progress-bar-container {
  background-color: #f0f0f0;
  border-radius: 5px;
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
}

.module-progress-bar {
  height: 100%;
  border-radius: 5px;
  background-color: #4caf50;
  transition: width 0.4s ease;
}

.nav-button {
  position: absolute;
  bottom: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #0056b3;
}

.prev-button {
  left: 20px;
}

.next-button {
  right: 20px;
}

/* Add responsiveness */
@media (max-width: 768px) {
  .prev-button, .next-button {
    width: 100%;
    position: relative;
    margin-top: 10px;
  }
  .prev-button {
    left: 0;
  }
  .next-button {
    right: 0;
  }
}
